.button {
    background-color: transparent;
    color: inherit;
    border-radius: 4px;
    border: none;
    padding: 14px 10px;
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    user-select: none;
    vertical-align: middle;
    max-height: 50px;
  }
  .button_primary,
  .button_secondary {
    background-color: #595cff;
    color: #fff;
    min-width: 138px;
  }
  .button_secondary{
    min-width: 200px;

  }
  .button:hover,
  .button:focus,
  .button:active {
    opacity: 0.3;
    color: white;
    outline: none;
  }
  
  .icon {
    margin-left: 6px;
    width: 20px;
  }
   
  .button_outline_primary,
  .button_outline_secondary {
    min-width: 138px;
    border: 1px solid #595cff;
    border-radius: 4px;
    color: black;
    background-color: transparent;
  }
  .button_outline_secondary{
    min-width: 200px;
  }
  
  .button_outline_primary:hover,
  .button_outline_secondary:hover {
    background-color: #595cff;
    color: #fff;
    outline: none;
  }
  
  .button_link:hover,
  .button_link:focus,
  .button_link:active {
    color: #595cff;
  }
  
  .button_icon {
    min-width: 0;
    width: 24px;
    height: 24px;
    padding: 11px;
    border: 1px solid #E6E6EB
  }
   
  .icon {
    font-size: 2em;
    margin: 0;
  }
  
  .button_rounted {
    border-radius: 50%;
  }