.hero {
    position: relative;
  }
  .hero__medium {
    min-height: 500px;
  }
  
  .hero__container {
    padding-left: 20px;
  }
  .hero_image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .hero__background {
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .hero__foreground {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  .hero__title {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    color: #000000;
    line-height: 38px;

  }
  
  .hero__description {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    padding-top: 20px;
    padding-bottom: 40px;
  }
  